name: Build and Test
on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main, feature/* ]

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      with:
        fetch-depth: 0

    - uses: webiny/action-conventional-commits@8bc41ff4e7d423d56fa4905f6ff79209a78776c7

    - name: Set up JDK 17
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: 'gradle'

    - name: Cache SonarQube packages
      uses: actions/cache@v5
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

    - name: Build & Test with Gradle
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: ./gradlew check sonar

    - name: Upload Test Report
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      if: always() # always run even if the previous step fails
      with:
        name: junit-test-results
        path: '**/build/test-results/*/TEST-*.xml'
        retention-days: 1

    - name: Upload coverage report
      uses: actions/upload-artifact@v6
      with:
        name: coverage-report
        path: build/reports/kover
        retention-days: 1

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
      if: always()
      with:
        check_name: Unit Tests
        files: |
          **/build/test-results/*/TEST-*.xml

    - name: Add coverage report to PR
      id: kover
      uses: mi-kas/kover-report@5f58465b6f395c8fa3adc2665e27250bad87de50
      with:
        path: |
          build/reports/kover/report.xml
        title: Code Coverage
        update-comment: true
  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        db: [ POSTGRESQL, MYSQL, SQLITE, MSSQLSERVER, ORACLE ]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Integration tests
        run: ./gradlew integrationTest -Ddb=${{ matrix.db }}

      - name: Upload Test Report
        uses: actions/upload-artifact@v6
        if: always() # always run even if the previous step fails
        with:
          name: ${{ matrix.db }}-test-results
          path: '**/build/test-results/integrationTest/TEST-*.xml'
          retention-days: 1

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f
        if: always()
        with:
          check_name: ${{ matrix.db }} Integration Tests
          files: |
            **/build/test-results/integrationTest/TEST-*.xml
