name: Build and Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: webiny/action-conventional-commits@v1.3.0

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: 'gradle'

    - name: Cache SonarQube packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

    - name: Build & Test with Gradle
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: ./gradlew check sonar

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      if: always() # always run even if the previous step fails
      with:
        name: junit-test-results
        path: '**/build/test-results/*/TEST-*.xml'
        retention-days: 1

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: build/reports/kover
        retention-days: 1

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        check_name: Unit Tests
        files: |
          **/build/test-results/*/TEST-*.xml

    - name: Add coverage report to PR
      id: kover
      uses: mi-kas/kover-report@v1
      with:
        path: |
          build/reports/kover/report.xml
        title: Code Coverage
        update-comment: true
  integration-test:
    name: Integration tests
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        db: [ POSTGRESQL, MYSQL, SQLITE, MSSQLSERVER, ORACLE ]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Integration tests
        run: ./gradlew integrationTest -Ddb=${{ matrix.db }}

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: always() # always run even if the previous step fails
        with:
          name: ${{ matrix.db }}-test-results
          path: '**/build/test-results/integrationTest/TEST-*.xml'
          retention-days: 1

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: ${{ matrix.db }} Integration Tests
          files: |
            **/build/test-results/integrationTest/TEST-*.xml
