name: Publish JAR to GitHub Packages
on:
  push:
    branches:
      - main
      - 'release/*'

permissions:
  checks: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GH_USER: driessamyn
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSPHRASE }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: '17'
          distribution: 'zulu'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Git Status
        run: git status
      - name: Untracked changes
        run: git ls-files . --exclude-standard --others
      - name: Print version
        run: ./gradlew printSemVersion --info
#      - name: Print Changelog
#        run: ./gradlew printChangeLog
      - name: Publish package
        run: ./gradlew deployGithub --info
