name: Publish JAR to Maven Central
on:
  push:
    branches:
      - 'release/*'

permissions:
  checks: write
  pull-requests: write

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GH_USER: driessamyn
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSPHRASE: ${{ secrets.GPG_SIGNING_PASSPHRASE }}
      MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
    steps:
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: History
        run: git --no-pager log -n 100 --oneline
      - name: Tags
        run: git show-ref --tags
      - name: Print version
        run: ./gradlew printSemVersion --info
      - name: Show changes
        run: git status
      - name: Untracked changes
        run: git ls-files . --exclude-standard --others
      - name: Publish package
        run: ./gradlew :kapper:deployCentralPortal :kapper-coroutines:deployCentralPortal --info
